langchain==0.1.6
langchain-community==0.0.20
langchain-experimental==0.0.50
cx-Oracle
oracledb
SQLAlchemy
sqlalchemy
langchain-openai
openai
pymysql
google-generativeai
langchain-google-genai==0.0.7
sentence-transformers
chromadb
streamlit
streamlit_chat
faiss-cpu
chainlit
flask
flask_cors 
flask-cors
psycopg2
pgvector